*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: #ccc;
  font-family: Roboto, Montserrato, Open-sans; }

.wrapper {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto; }

@media only screen and (min-width: 769px) and (max-width: 1432px) {
  .wrapper {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto; } }

/**
 * RESET
 * Reference: http://meyerweb.com/eric/tools/css/reset/
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1.618;
  font-family: Arial, Helvetica, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

code, pre, samp {
  font-family: monospace; }

/**
  * BASIC TYPE
  */
img, video {
  max-width: 100%;
  vertical-align: middle; }

p:not(:last-child) {
  margin: 0 0 1em; }

h1, h2, h3, h4 {
  margin: .5em 0 .75em;
  line-height: 1.3; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.25em; }

h3 {
  font-size: 1.125em; }

h4 {
  font-size: 1em; }

/**
  * BOX HACKING
  */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loader2.gif") 50% 50% no-repeat #155799;
  opacity: .9; }

/* width */
::-webkit-scrollbar {
  width: 30px; }

/* Track */
::-webkit-scrollbar-track {
  background-color: #111; }

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #222; }

/* Handle on hover */
.header {
  background-color: #111;
  border-bottom: 5px solid #155799;
  border-top: 5px solid #155799;
  position: fixed;
  position: relative;
  width: 100%;
  z-index: 10;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  overflow: hidden; }

@media screen and (max-width: 768px) {
  .header {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px; } }

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
  z-index: 1;
  cursor: pointer; }

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px; }

@media screen and (max-width: 768px) {
  .header-box {
    justify-content: center;
    flex-direction: column; } }

img.header-box--logo {
  position: relative;
  height: 100px;
  width: 100px;
  z-index: 5;
  opacity: 0.9;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

img.header-box--logo.sticky {
  height: 40px;
  width: 40px; }

.header-text {
  font-family: Roboto;
  text-transform: capitalize;
  font-weight: bold; }

@media screen and (max-width: 768px) {
  .header-text {
    display: none; } }

.masonry {
  display: flex;
  flex-flow: row wrap;
  width: 100%; }

.masonry_item {
  flex: calc(50% - 16px);
  margin: 0 8px 8px 8px;
  transition: 0.1s ease-in-out; }

.masonry_item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3)); }

.masonry_item:nth-child(even) {
  margin-left: 0; }

.masonry_item--link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative; }

.masonry_item--link:hover > .m-glass {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transform: translateY(0%);
  background: #0d8c40; }

.m-glass {
  font-size: 10em;
  transform: translateY(-500%);
  width: 0.4em;
  box-sizing: content-box;
  height: 0.4em;
  border: 0.1em solid #ccc;
  position: absolute;
  border-radius: 0.35em; }

.m-glass--plus {
  display: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.m-glass:hover .m-glass--plus {
  display: flex;
  color: #ccc; }

@media screen and (max-width: 768px) {
  .masonry_item:hover > .m-glass {
    display: none; }
  .m-glass {
    display: none; }
  .m-glass--plus {
    display: none; } }

.m-glass:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.35em;
  bottom: -0.2em;
  border-width: 0;
  background: #ccc;
  width: 0.35em;
  height: 0.08em;
  transform: rotate(45deg); }

@media screen and (max-width: 768px) {
  .masonry_item {
    flex: calc(100% - 8px);
    margin: 0 5px 5px 5px; } }

.footer {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }

.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0; }

.footer-box--link {
  font-size: 1.5em;
  font-weight: bold;
  color: #222; }

@media screen and (max-width: 768px) {
  .footer-box--link {
    font-size: 1em; } }

section.back-to-top {
  float: left;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  section.back-to-top a.btn-to-top {
    display: flex;
    background: #222;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    justify-content: center;
    align-items: center;
    opacity: 0; }
    section.back-to-top a.btn-to-top i {
      border: solid #159957;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      width: 20px;
      height: 20px; }
    section.back-to-top a.btn-to-top .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg); }

.sfi-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.back-to-top {
  position: fixed;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  background: #222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0; }
  .back-to-top i {
    border: solid #155799;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px; }
  .back-to-top .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg); }

.back-to-top:hover {
  background: #e9ebec; }

.back-to-top.show {
  opacity: 1; }

.container {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: dense;
  grid-template: "1fr 1fr 1fr 1fr" 33.33vh "1fr 1fr 1fr 1fr" 33.33vh "1fr 1fr 1fr 1fr" 33.33vh "1fr 1fr 1fr 1fr" 33.33vh "1fr 1fr 1fr 1fr" 33.33vh "1fr 1fr 1fr 1fr" 33.33vh "1fr 1fr 1fr 1fr" 33.33vh "1fr 1fr 1fr 1fr" 33.33vh "1fr 1fr 1fr 1fr" 33.33vh "1fr 1fr 1fr 1fr" 33.33vh "1fr 1fr 1fr 1fr" 33.33vh "1fr 1fr 1fr 1fr" 33.33vh "1fr 1fr 1fr 1fr" 33.33vh; }
  .container .box {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
    position: relative; }
    .container .box .masonry_item--link {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%; }
      .container .box .masonry_item--link img {
        width: 100%;
        object-fit: cover; }
  .container .box.a {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: #111;
    border-top-left-radius: 100px; }
  .container .box.b {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    background-color: indianred;
    background: url("../img/bg.jpeg") no-repeat center center;
    background-size: cover;
    position: relative;
    width: 100%;
    z-index: 10;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-bottom-right-radius: 100px;
    overflow: hidden; }
  .container .box.a,
  .container .box.b {
    display: flex;
    justify-content: center;
    align-items: center; }
  .container .box.c {
    grid-column: 1 / 2;
    grid-row: 3 / 4; }
  .container .box.d {
    grid-column: 2 / 3;
    grid-row: 3 / 4; }
  .container .box.e {
    grid-column: 3 span;
    grid-row: 3 / 5; }
  .container .box.f {
    grid-column: 1 / 3;
    grid-row: 4 / 6; }
  .container .box.j {
    grid-column: 3 / 4;
    grid-row: 5 / 6; }
  .container .box.k {
    grid-column: 4 / 6;
    grid-row: 5 / 6; }
  .container .box.l {
    grid-column: 1 / 4;
    grid-row: 6 / 8; }
  .container .box.s {
    grid-column: 4 / 6;
    grid-row: 6 / 8; }
  .container .box.x {
    grid-column: 1 / 2;
    grid-row: 8 / 9; }
  .container .box.y {
    grid-column: 2 / 3;
    grid-row: 8 / 9; }
  .container .box.w {
    grid-column: 3 / 6;
    grid-row: 8 / 10; }
  .container .box.z {
    grid-column: 1 / 3;
    grid-row: 9 / 11; }
  .container .box.m {
    grid-column: 3 / 5;
    grid-row: 10 / 11; }
  .container .box.q {
    grid-column: 5 / 6;
    grid-row: 10 / 11; }
  .container .box.n {
    grid-column: 1 / 3;
    grid-row: 11 / 13; }
  .container .box.g {
    grid-column: 3 / 6;
    grid-row: 11 / 13; }

header {
  grid-area: header;
  background-color: #0d8c40; }

main {
  grid-area: main;
  background-color: aqua; }

footer {
  grid-area: footer;
  background-color: blueviolet; }
