@import './base/_base.scss';
@import './base/reset';

// page loading
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/loader2.gif') 50% 50% no-repeat rgb(21, 87, 153);
    opacity: .9;
}

/* width */
::-webkit-scrollbar {
    width: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    // border-radius: 20px;
    background-color: #111;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #222;
  }
  
  /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #b30000;
//   }

.header {
    background-color: #111;
    border-bottom: 5px solid #155799;
    border-top: 5px solid #155799;
    position: fixed;
    position: relative;
    width: 100%;
    z-index: 10;
    top: 0;
    @include transition;   
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .header { 
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
    }
}

// .header.sticky {
//     font-size: 14px;
//     background: #111;
// }

// .header.sticky {
//     font-size: 14px;
//     background: #111;
// }

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 7;
    z-index: 1;
    cursor: pointer;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

// .header-box.sticky {
//     padding: 15px 10px;
//     @include transition;
// }

@media screen and (max-width: 768px) {
    .header-box {
            justify-content: center;
            flex-direction: column;
    }
}

img.header-box--logo {
    position: relative;
    height: 100px;
    width: 100px;
    z-index: 5;
    opacity: 0.9;
    @include transition;
}

img.header-box--logo.sticky {
  height: 40px;
  width: 40px;
}

.header-text {
  font-family: Roboto;
  text-transform: capitalize;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
    .header-text {
        display: none;
    }
}

.masonry { 
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    // margin-top: 145px;
}

.masonry_item {
    flex: calc(50% - 16px);
    margin: 0 8px 8px 8px;
    transition: 0.1s ease-in-out;
}

.masonry_item:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}

.masonry_item:nth-child(even) {
    margin-left: 0;
}
// .masonry_item:nth-child(odd) {
//     margin-right: 0;
// }

.masonry_item--link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.masonry_item--link:hover > .m-glass {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition;
    transform: translateY(0%);
    background: #0d8c40;

}

.m-glass {
    font-size: 10em;
    // display: none;
    transform: translateY(-500%);
    width: 0.4em;
    box-sizing: content-box;
    height: 0.4em;
    border: 0.1em solid #ccc;
    position: absolute;
    border-radius: 0.35em;
}

.m-glass--plus {
    display: none;
    // set animation
    @include transition;
}

.m-glass:hover .m-glass--plus {
    display: flex;
    color: #ccc;
}

@media screen and (max-width: 768px) {
    .masonry_item:hover > .m-glass {
        display: none;
    }

    .m-glass {
        display: none;
    }

    .m-glass--plus {
        display: none;
  }
}

.m-glass:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.35em;
    bottom: -0.2em;
    border-width: 0;
    background: #ccc;
    width: 0.35em;
    height: 0.08em;
    transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .masonry_item {
      flex: calc(100% - 8px);
      margin: 0 5px 5px 5px;
  }
}

.footer {
    background-color: #159957;
    background-image: linear-gradient(120deg,#155799,#159957);
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.footer-box--link {
    font-size: 1.5em;
    font-weight: bold;
    color: #222;
}

@media screen and (max-width: 768px) {
    .footer-box--link {
        font-size: 1em;
    }
}

// btt
section.back-to-top {
  @include float;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  a.btn-to-top {
      display: flex;
      background: #222;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      color: #fff;
      justify-content: center;
      align-items: center;

      opacity: 0;

      // arrow up custum
      i {
        border: solid #159957;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        width: 20px;
        height: 20px;
      }
      
      .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
  }
}


//
.sfi-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-to-top {
    position: fixed;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    background: #222;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #f5f5f5;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;

  i {
    border: solid #155799;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px;
  }
  
  .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }

}
.back-to-top:hover {
    background: #e9ebec;
}
.back-to-top.show {
    opacity: 1;
}

// css grid
.container {
    width: 100%;
    display: grid;
    grid-gap: 10px;

    grid-auto-flow: dense;
    grid-template: 
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh;

    .box {
        background-color: #ccc;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #111;

        position: relative;

        .masonry_item--link {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            overflow: hidden;
            position: absolute;
            width: 100%;
            height: 100%;            
            img {
                
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .box.a {
        grid-column: 1 / 3;
        // grid-row: span 2;
        grid-row: 1 / 3;
        background-color: #111;

        border-top-left-radius: 100px;

    }

    .box.b {
        grid-column: 3 / 6;
        // grid-row: 2 span;
        grid-row: 1 / 3;
        background-color:indianred;

        background: url("../img/bg.jpeg") no-repeat center center;
        background-size: cover;



        position: relative;
        width: 100%;
        z-index: 10;
        @include transition;   
        border-bottom-right-radius: 100px;
        overflow: hidden;
    }




    .box.a, 
    .box.b {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box.c {
        grid-column: 1 / 2; // h
        grid-row: 3 / 4;
    }

    .box.d {
        grid-column: 2 / 3; // h
        grid-row: 3 / 4; // v
    }

    .box.e {
        grid-column: 3 span; // h
        grid-row: 3 / 5;
        // background-color: springgreen;
    }

    .box.f {
        grid-column: 1 / 3;
        grid-row: 4 / 6;
        // background-color: steelblue;
    }

    .box.j {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }
    
    .box.k {
        grid-column: 4 / 6;
        grid-row: 5 / 6;
    }

    .box.l {
        grid-column: 1 / 4;
        grid-row: 6 / 8;
    }
    
    .box.s {
        grid-column: 4 / 6;
        grid-row: 6 / 8;
    }

    .box.x {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
    }
    
    .box.y {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }

    .box.w {
        grid-column: 3 / 6;
        grid-row: 8 / 10;
    }
    
    .box.z {
        grid-column: 1 / 3; // h
        grid-row: 9 / 11; // v
    }

    .box.m {
        grid-column: 3 / 5; // h
        grid-row: 10 / 11; // v
    }
    
    .box.q {
        grid-column: 5 / 6; // h
        grid-row: 10 / 11; // v
    }

    .box.n {
        grid-column: 1 / 3; // h
        grid-row: 11 / 13; // v
    }
    
    .box.g {
        grid-column: 3 / 6; // h
        grid-row: 11 / 13; // v
    }




}

header {
    grid-area: header;
    background-color: #0d8c40;
}

main {
    grid-area: main;
    background-color: aqua;
}

footer {
    grid-area: footer;
    background-color: blueviolet;
}

