@import './base/_base.scss';
@import './base/reset';


body {
  background-color: #222; 
  // color: #2eae49;
  color: #ccc;

  background-color: #159957;
  background-image: linear-gradient(120deg,#155799,#159957);
}

a {
  cursor: pointer;
  display: block;
}

.masonry-item:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}

.wrapper { 
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    position: relative;
    background-color: #222;

    // background-color: #159957;
    // background-image: linear-gradient(120deg,#155799,#159957);
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
  z-index: 1;
  cursor: pointer;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px;
}

@media screen and (max-width: 768px) {
  .header-box {
    justify-content: center;
    flex-direction: column;
  }
}

img.header-box--logo {
  position: relative;
  height: 100px;
  width: 100px;
  z-index: 5;

  opacity: 0.9;
}

.header-text h2 {
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}

.masonry { 
    display: flex;
    flex-flow: row wrap;
    // margin-left: -8px; /* Adjustment for the gutter */
    width: 100%;
    margin-top: 8px;
}

.masonry-item {
    flex: calc(50% - 8px);
    margin: 0 8px 8px 0; /* Some gutter */
}

@media screen and (max-width: 768px) {
  .masonry-item {
      flex: calc(100% - 8px);
      margin: 5px; /* Some gutter */
  }
}

.footer {
    background-color: #159957;
    background-image: linear-gradient(120deg,#155799,#159957);
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.footer-box--link {
    font-size: 1.5em;
    font-weight: bold;
    color: #222;
}

@media screen and (max-width: 768px) {
  .footer-box--link {
    font-size: 1em;
;
}
}






