@import './base/_base.scss';
@import './base/reset';

// page loading
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/loader2.gif') 50% 50% no-repeat rgb(21, 87, 153);
    opacity: .9;
}

.header {
    background-color: #111;
    border-bottom: 5px solid #155799;
    border-top: 5px solid #155799;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    @include transition;   
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .header { 
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
    }
}

.header.sticky {
    font-size: 14px;
    background: #111;
}

.header.sticky {
    font-size: 14px;
    background: #111;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 7;
    z-index: 1;
    cursor: pointer;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.header-box.sticky {
    padding: 15px 10px;
    @include transition;
}

@media screen and (max-width: 768px) {
    .header-box {
            justify-content: center;
            flex-direction: column;
    }
}

img.header-box--logo {
    position: relative;
    height: 100px;
    width: 100px;
    z-index: 5;
    opacity: 0.9;
    @include transition;
}

img.header-box--logo.sticky {
  height: 40px;
  width: 40px;
}

.header-text {
  font-family: Roboto;
  text-transform: capitalize;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
    .header-text {
        display: none;
    }
}


.masonry { 
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 145px;
}

.masonry_item {
    flex: calc(50% - 16px);
    margin: 0 8px 8px 8px;
    transition: 0.1s ease-in-out;
}

.masonry_item:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}

.masonry_item:nth-child(even) {
    margin-left: 0;
}

.masonry_item--link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.masonry_item--link:hover > .m-glass {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-glass {
    font-size: 10em;
    display: none;
    width: 0.4em;
    box-sizing: content-box;
    height: 0.4em;
    border: 0.1em solid #ccc;
    position: absolute;
    border-radius: 0.35em;
}

.m-glass--plus {
    display: none;
    // set animation
    @include transition;
}

.m-glass:hover .m-glass--plus {
    display: flex;
    color: #ccc;
}

@media screen and (max-width: 768px) {
    .masonry_item:hover > .m-glass {
        display: none;
    }

    .m-glass {
        display: none;
    }

    .m-glass--plus {
        display: none;
  }
}

.m-glass:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.35em;
    bottom: -0.2em;
    border-width: 0;
    background: #ccc;
    width: 0.35em;
    height: 0.08em;
    transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .masonry_item {
      flex: calc(100% - 8px);
      margin: 5px; /* Some gutter */
  }
}

.footer {
    background-color: #159957;
    background-image: linear-gradient(120deg,#155799,#159957);
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.footer-box--link {
    font-size: 1.5em;
    font-weight: bold;
    color: #222;
}

@media screen and (max-width: 768px) {
    .footer-box--link {
        font-size: 1em;
    }
}

// btt
section.back-to-top {
  @include float;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  a.btn-to-top {
      display: flex;
      background: #222;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      color: #fff;
      justify-content: center;
      align-items: center;

      opacity: 0;

      // arrow up custum
      i {
        border: solid #159957;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        width: 20px;
        height: 20px;
      }
      
      .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
  }
}

.back-to-top {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background: #222;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #f5f5f5;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;

  i {
    border: solid #155799;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px;
  }
  
  .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }

}
.back-to-top:hover {
    background: #e9ebec;
}
.back-to-top.show {
    opacity: 1;
}
  
  



