*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #ccc;
    font-family: Roboto, Montserrato, Open-sans;
}

.wrapper { 
    // max-width: 1280px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 769px) and (max-width: 1432px) { 
    .wrapper { 
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

// variables
$color-border: #f2f2f2;
$blue-color: #074a86;

// mixin
@mixin float {
    float: left;
    width: 100%;
}

@mixin transition {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}